body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}